*{
     box-sizing: border-box;
}
#btn{
    width: 500px;
    height:60px;
    background-image: linear-gradient(pink,violet);
    border: 2px solid pink;
    position: absolute;
    left: 200px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
}
#btnn{
    width: 500px;
    height:60px;
    background-image: linear-gradient(rgb(147, 194, 240),white);
    border: 2px solid blue;
    position: absolute;
    left: 900px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
}
#h{
    text-align: center;
    color: crimson;
    font-weight: 900;
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
}
